{
  "~/git/amosblomqvist/pi-config": true,
  "~/git/badlogic/pi-skills": true,
  "~/git/benithors/skills": true,
  "~/git/earendil-works/pi-mono": true,
  "~/git/mattpocock/skills": true,
  "~/git/tmustier/pi-extensions": true
}
